<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mall.xiaomi.mapper.CollectMapper">

    <resultMap id="baseCollect" type="com.mall.xiaomi.pojo.Collect">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="productId" column="product_id" />
        <result property="collectTime" column="collect_time" />
    </resultMap>

    <resultMap id="collectProduct" type="com.mall.xiaomi.pojo.Product" extends="com.mall.xiaomi.mapper.ProductMapper.baseProduct">

    </resultMap>

    <insert id="insert" parameterType="com.mall.xiaomi.pojo.Collect">
        INSERT INTO collect(
                            user_id,
                            product_id,
                            collect_time)
        VALUES (
                #{userId},
                #{productId},
                #{collectTime}
               )
    </insert>

    <delete id="delete" parameterType="com.mall.xiaomi.pojo.Collect">
        DELETE
        FROM
            collect
        WHERE
            user_id = #{userId}
        AND
            product_id = #{productId}
    </delete>

    <select id="getCollect" parameterType="string" resultMap="collectProduct">
        SELECT
            p.*
        FROM
            product p,
            collect c
        WHERE
            c.user_id = #{userId}
        AND
            c.product_id = p.product_id
    </select>

    <select id="selectOne" parameterType="com.mall.xiaomi.pojo.Collect" resultMap="baseCollect">
        SELECT
            *
        FROM
            collect
        WHERE
            user_id = #{userId}
        AND
            product_id = #{productId}
    </select>


</mapper>