<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mall.xiaomi.mapper.OrderMapper">
    <resultMap id="baseOrder" type="com.mall.xiaomi.pojo.Order">
        <id property="id" column="id" />
        <result property="orderId" column="order_id" />
        <result property="userId" column="user_id" />
        <result property="productId" column="product_id" />
        <result property="productNum" column="product_num" />
        <result property="productPrice" column="product_price" />
        <result property="orderTime" column="order_time" />
    </resultMap>

    <resultMap id="orderVo" type="com.mall.xiaomi.vo.OrderVo" extends="baseOrder">
        <result property="productName" column="productName" />
        <result property="productPicture" column="productPicture" />
    </resultMap>

    <insert id="insert" parameterType="com.mall.xiaomi.pojo.Order">
        INSERT INTO `order`(
                          order_id,
                          user_id,
                          product_id,
                          product_num,
                          product_price,
                          order_time)
        VALUES (
                #{orderId},
                #{userId},
                #{productId},
                #{productNum},
                #{productPrice},
                #{orderTime}
               )
    </insert>

    <select id="getOrderVoByUserId" parameterType="integer" resultMap="orderVo">
        SELECT
            o.*,
            p.product_name as productName,
            p.product_picture as productPicture
        FROM
            `order` o,
            product p
        WHERE
            o.product_id = p.product_id
        AND
            o.user_id = #{userId}
    </select>

</mapper>