<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mall.xiaomi.mapper.ProductMapper">

    <resultMap id="baseProduct" type="com.mall.xiaomi.pojo.Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="categoryId" column="category_id" />
        <result property="productTitle" column="product_title" />
        <result property="productIntro" column="product_intro" />
        <result property="productPicture" column="product_picture" />
        <result property="productPrice" column="product_price" />
        <result property="productSellingPrice" column="product_selling_price" />
        <result property="productNum" column="product_num" />
        <result property="productSales" column="product_sales" />
    </resultMap>

    <update id="updateByPrimaryKey" parameterType="com.mall.xiaomi.pojo.Product">
        UPDATE
            product
        SET product_num   = #{productNum},
            product_sales = #{productSales}
        WHERE product_id = #{productId}
    </update>

    <select id="selectIds" resultType="integer">
        SELECT
            product_id
        FROM
            product
    </select>

    <select id="selectProductByName" parameterType="string" resultMap="baseProduct">
        SELECT *
        FROM product
        WHERE product_name like CONCAT('%', #{name}, '%')
    </select>

    <select id="selectByPrimaryKey" parameterType="integer" resultMap="baseProduct">
        SELECT
            *
        FROM
            product
        WHERE
            product_id = #{productId}
    </select>

    <select id="selectByExample" parameterType="integer" resultMap="baseProduct">
        SELECT
            *
        FROM
            product
        WHERE
            category_id = #{categoryId}
        ORDER BY
            product_sales
        DESC
    </select>

    <select id="selectAll" resultMap="baseProduct">
        SELECT
            *
        FROM
            product
    </select>

    <select id="select" parameterType="com.mall.xiaomi.pojo.Product" resultMap="baseProduct">
        SELECT
            *
        FROM
            product
        WHERE
            category_id = #{categoryId}
    </select>

    <select id="selectByDesc" resultMap="baseProduct">
        SELECT
            *
        FROM
            product
        ORDER BY
            product_sales
        DESC
    </select>


</mapper>